body {
  margin: 0;
  padding: 0;
  background-color: #556 !important;
}
legend span {
  font-family: 'Marck Script', cursive;
  color: black;
}
input {
  width: 150px;
  color: #556;
  border-radius: 10px;
  padding: 4px;
  margin: 4px;
  border: none;
}
.curtain {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  top: -456px;
  z-index: 99;
  transition: all 2s;
  overflow: hidden;
}

.curtain-is-active {
  transform: translate(0, -580px);
}
.welcome-message {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 40%;
  right: 40%;
  width: 20%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 10%;
  font-family: 'Marck Script', cursive;
  color: white;
  transform: rotate(-8deg);
  font-size: 5em;
}
.intro-message {
  position: absolute;
  z-index:100;
  top: 68%;
  left: 40%;
  right: 40%;
  width: 20%;
  text-align: center;
  font-size: 1em;
  color: white;
  font-family: 'Varela Round', sans-serif;
}
.container {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100vw;
  top: -600px;
  transition: all 2s;

}
.container-is-active {
  transform: translate(0, 600px);
}
.seat {
  height: 80px;
  margin: 10px;
  background-image: url(../img/seat.png);
  background-repeat: no-repeat;
  border-radius: 10px;
}
.selected-seat {
  filter: hue-rotate(220deg);
}
.seat:hover {
  opacity: 0.8;
}
.left-rotate {
  margin-top: 30px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}
.right-rotate {
  margin-top: 30px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.hidden {
  display: none;
}

.hide {
  display: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.modal-contents {
  font-family: 'Varela Round', sans-serif;
  background-color: grey;
  width: 500px;
  height: auto;
  padding: 25px;
  margin: 15% auto;
}
.reserved-seat {
  filter: grayscale(0.8);
}
#seat-container {
  background: lightgrey;
  margin-top: 20px;
  padding: 20px;
  border: 3px solid darkGrey;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  box-shadow: 0px 0px 30px 0px rgba(231,166,26,1);
}
#left-seat-column {
  margin-top: 60px;
}
#center-seat-column {
  margin-top: 140px;
}
#center-seat-column .row {
  margin-top: 20px;
}
#right-seat-column {
  margin-top: 40px;
}
#header {
  position: relative;
  text-align: center;
  font-size: 1.3em;
  font-family: 'Varela Round', sans-serif;
  color: #556;
  top: -20px;
  right: 15px;
  opacity: 0;
}
#user-inputs {
  position: absolute;
  padding: 10px;
  background-color: #75b3f0;
  color: #556;
  font-family: 'Varela Round', sans-serif;
  border-radius: 20px;
  text-align: center;
  top: 56px;
  left: 356px;
  width: 460px;
  z-index: 8000;
}
#submit {
  width: 300px;
  border: none;
  border-radius: 10px;
  padding: 4px;
  margin-top: 20px;
}
.reserved-by {
  z-index: 9999;
  color:white;
}

.reserved-seat:hover{
  display: block;
}

.curtain h1 {

}
